.DS_Store
npm-debug.log
coverage
*.pem
storage.json
web/
.esm-cache
src/protos.d.ts

/node_modules/**
/dist/**
dist_electron
/dist_electron/**
build
/build/**
pnpm-lock.yaml
yarn.lock
package-lock.json
/.husky/**
.idea
.idea/*
.vscode
.vscode/*
